<div id="background-cover" class="section">
  <div class="section-center">
    <div class="container">
      <div class="user-form" style="max-width: 768px;">
        <h1 class="text-white" style="display: flex; justify-content: center;">Forgot your password</h1>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>
          <div class="field-input">
            <span class="form-label">Email</span>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"Email" %>
          </div>
          <div class="row" style="display: flex; flex-direction: column; text-align: center;">
            <div style="padding: 0; margin: 1rem 0;">
              <div class="actions form-btn">
                <%= f.submit "Reset Password" , {class:"submit-btn",style:"width: 15rem;"}%>
              </div>
            </div>
            <div style="margin: 1rem 0;">
              <%= link_to 'Back', :back,{class:"text-white"} %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
