<div id="background-cover" class="section">
  <div class="section-center">
    <div class="container">
      <div class="user-form" style="max-width: 768px;">
        <h1 class="text-white" style="display: flex; justify-content: center;">Sign In</h1>
        <%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => { :style => 'max-width: 768px;' }) do |f| %>
          <div class="field-input">
            <span class="form-label">Email</span>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
          </div>
          <div class="form-outline mb-4">
          </div>
          <div class="field-input">
            <span class="form-label">Password</span>
            <%= f.password_field :password, autocomplete: "current-password", placeholder: "Password" %>
          </div>
          <% if devise_mapping.rememberable? %>
            <div style="display: flex; justify-content: start; align-items: center; margin: 1rem 0;">
              <%= f.check_box :remember_me,{style:"width: 24px;height: 24px;margin-right: 1rem;"} %>
              <%= f.label :remember_me,{class: "text-white"} %>
            </div>
          <% end %>
          <div class="row" style="display: flex; flex-direction: column; text-align: center;">
            <div style="padding: 0; margin: 1rem 0;">
              <div class="actions form-btn">
                <%= f.submit "Sign in", {class:"submit-btn",style:"width: 20rem;"} %>
              </div>
            </div>
            <div style="margin: 1rem 0;">
              <%= render "devise/shared/links" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
